.tag {
  display: inline-block;
  border: 1px solid black;
  border-color: rgb(88, 88, 88);
  border-radius: 3px;
  color: rgb(88, 88, 88);
  background-color: rgb(243, 243, 243);
  font-size: 12px;
  padding: 2px 5px;
  margin: 3px 2px !important;
  color: black;

  &:hover {
    background-color: rgb(222, 222, 222);
  }
}